<div class="navbar">
  <h2 routerLink="../trendingM" [routerLinkActive]="['activeLink']">
    Trending
  </h2>
  <h2 routerLink="../top-rated" [routerLinkActive]="['activeLink']">
    Top Rated
  </h2>
  <h2 routerLink="../action" [routerLinkActive]="['activeLink']">Action</h2>
  <h2 routerLink="../comedy" [routerLinkActive]="['activeLink']">Comedy</h2>
  <h2 routerLink="../horror" [routerLinkActive]="['activeLink']">Horror</h2>
  <h2 routerLink="../romance" [routerLinkActive]="['activeLink']">Romance</h2>
  <h2 routerLink="../mystery" [routerLinkActive]="['activeLink']">Mystery</h2>
  <h2 routerLink="../sci-fi" [routerLinkActive]="['activeLink']">Sci-fi</h2>
  <h2 routerLink="../western" [routerLinkActive]="['activeLink']">Western</h2>
  <h2 routerLink="../animation" [routerLinkActive]="['activeLink']">
    Animation
  </h2>
  <h2 routerLink="../tvmovie" [routerLinkActive]="['activeLink']">TVMovie</h2>
</div>
