/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100vw;
  background: linear-gradient(90deg, #051421 0%, #042727 60%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
